<?xml version="1.0"?>
<configuration>
	<system.webServer>
       <httpErrors errorMode="Detailed" />
       <asp scriptErrorSentToBrowser="true"/>

		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.web>

		<compilation targetFramework="4.0">
			<assemblies>
			</assemblies>
			
			</compilation>
			
		<pages enableEventValidation="false" validateRequest="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		
		<customErrors mode="Off"/>
		
		<httpRuntime requestValidationMode="2.0"/>
		
		
		 <globalization
           fileEncoding="utf-8"
           requestEncoding="utf-8"
           responseEncoding="utf-8"
           culture="tr-TR"
           uiCulture="tr-TR"
        />
				
	</system.web>

</configuration>


  
